.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control{
    width: 50%;
    display: flex;
    input{
        width: 100%;
        padding: 1rem 0rem;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
    }
    p{
        padding: 1rem;
    }
}

.play-control{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg{
        cursor: pointer;
    }
}

input[type="range"]::-webkit-slider-runnable-track{
    background: #ddd;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: black;
    border-radius: 100%;
}

@media screen and (max-width: 768px) {
    .time-control{
        width: 90%;
    }
    .play-control{
        width: 50%;
    }
}



